*, ::after, ::before{
    box-sizing: border-box; /* remplis en longuer,largeur et bordures des éléments */
    margin: 0;
    padding: 0;
}

body{
    background: #333;
}

.container-menu{
    width: 300px;
    height: 300px;
    position:fixed; /*fixed OR absolute pour suivre ou non le défilement*/
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%); /*-50% sur x ET  sur y*/
    background: gold;
}

.btn-menu{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre le TOUT sur le bouton central */
    z-index: 20;
    cursor: pointer; /* Change le curseur au survol 'HOVER' */
}

.ligne{
    width:40px;
    height: 5px;
    border-radius: 5px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre la ligne sur le bouton central */
}

.icone{
    width: 40px;
}

.blob{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

/*On centre les icones dans les 'blob'*/
    display: flex;  
    justify-content: center;
    align-items: center;
}

.blob-1{
    background-color: hsl(30, 50%, 80%);  /* Hue (0 à 360°)  Saturation = 50% pour des couleurs pastels Lightness à 80%  */
}
.blob-2{
    background-color: hsl(60, 50%, 80%);
}.blob-3{
    background-color: hsl(90, 50%, 80%);
}.blob-4{
    background-color: hsl(160, 50%, 80%);
}

.blob-5{
    background-color: hsl(130, 50%, 80%);  
}
.blob-6{
    background-color: hsl(250, 50%, 80%);
}.blob-7{
    background-color: hsl(300, 50%, 80%);
}.blob-8{
    background-color: hsl(70, 50%, 80%);
}

/* Animation */

.container-menu.active .blob-1 {
    transition: all 0.2s 0.1s ease-in-out;  /* 0.2s = 200ms d'animation  & 0.1s = 100ms de délai*/
    left: 100%;
}
.container-menu.active .blob-2 {
    transition: all 0.2s 0.2s ease-in-out;
    left: 85%;
    top: 85%;
}
.container-menu.active .blob-3 {
    transition: all 0.2s 0.3s ease-in-out;
    top: 100%;
}
.container-menu.active .blob-4 {
    transition: all 0.2s 0.4s ease-in-out;
    left: 15%;
    top: 85%;
}

.container-menu.active .blob-5 {
    transition: all 0.2s 0.5s ease-in-out;  
    left: 0%;
    top: 50%;
}
.container-menu.active .blob-6 {
    transition: all 0.2s 0.6s ease-in-out;
    left: 15%;
    top: 15%;
}
.container-menu.active .blob-7 {
    transition: all 0.2s 0.7s ease-in-out;
    left: 50%;
    top: 0%;
}
.container-menu.active .blob-8 {
    transition: all 0.2s 0.8s ease-in-out;
    left: 85%;
    top: 15%;
}